<% breadcrumb :trading_company_edit, @trading_company %>

<p id="notice"><%= notice %></p>
<h1>商社内容を変更する</h1>
<%= form_with model: @trading_company, url: trading_company_path, local: true do |f| %>
<table frame=”box” border=”1″>
  <thead>
    <tr>
      <th>商社名</th>
      <th>担当者</th>
      <th>電話番号</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= f.text_field :tc_name, class: 'tc_name-input', placeholder:"商社名を入力" %></td>
        <td><%= f.text_field :tc_contact_person, class: 'tc_contact_person-input', placeholder:"担当者を入力" %></td>
        <td><%= f.text_field :tc_telephone, class: 'tc_telephone-input', placeholder:"半角ハイフンなし" %></td>
        <td><%= f.submit "登録する" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
修正したい箇所をクリックして修正してください。