<% breadcrumb :trading_company_index, @trading_companies %>

<p id="notice"><%= notice %></p>
<h1>商社一覧</h1>

<table frame=”box” border=”1″>
  <thead>
    <tr>
      <th>商社名</th>
      <th>担当者</th>
      <th>電話番号</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trading_companies.each do |trading_company| %>
    <% unless trading_company.id == 1 || trading_company.id == 4%>
      <tr>
        <td><%= trading_company.tc_name %></td>
        <td><%= trading_company.tc_contact_person %></td>
        <td><%= trading_company.tc_telephone %></td>
        <td><%= link_to '編集', edit_trading_company_path(trading_company) %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しく商社を登録', new_trading_company_path %>
