<% breadcrumb :team_edit, @team %>

<p id="notice"><%= notice %></p>
<h1>班内容を変更する</h1>
<%= form_with model: @team, url:team_path, local: true do |f| %>
<table frame=”box” border=”1″>
  <thead>
    <tr>
      <th>チーム名</th>
      <th>所属</th>
      <th>状態</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= f.text_field :team_name, placeholder:"チーム名を入力" %></td>
        <td><%= f.text_field :affiliation, placeholder:"所属を入力" %></td>
        <td><%= f.radio_button :work, :true %>
          <%= f.label :work, "稼働中", {value: :true, style: "display: inline-block;"} %>
          <%= f.radio_button :work, :false %>
          <%= f.label :work, "休み", {value: :false, style: "display: inline-block;"} %></td>
        <td><%= f.submit "登録する" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
修正したい箇所をクリックして修正してください。<br>
状態を変更する際は、既存の予約に注意してください。