<% breadcrumb :team_index, @teams %>

<p id="notice"><%= notice %></p>
<h1>班一覧</h1>

<table frame=”box” border=”1″>
  <thead>
    <tr>
      <th>チーム名</th>
      <th>所属</th>
      <th>状態</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= team.affiliation %></td>
        <td><% if team.work == true %>稼働中
            <%else team.work == false%>休み  
            <%end %></td>
        <td><%= link_to '編集', edit_team_path(team) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しい班を登録', new_team_path %>
