<div class='calendarsbox'>
  <div class='calendars'>
    <div class='calendar'>
      <% week_days.each do |day|%>
        <div class='day-item'>
          <div class='date'>
            <%= day[:month] %>/<%= day[:date] %><br><%= day[:wday] %>
          </div>
        </div>
      <% end %>
    </div>
    <!-- 稼働している班数分繰り返す -->
    <% teams.each do |team| %>
    <!-- １班に付き午前１週間・午後１週間の2回繰り返す -->
      <% 2.times do |tz| %> 
        <% tzid = 2 + tz %>
        <div class='calendar'>
          <% week_days.each do |day| %>
            <div class='item'>
              <div class='item-date'>
                <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
                <%= team.team_name %>班 <%= TimeZone.find(tzid).name %>
              </div>
              <div class='content'>
                <% schedules.each do |cal| %>
                  <% if day[:scheduled_date] == cal.scheduled_date && cal.time_zone_id == tzid && cal.team_id == team.id%>
                    <div class="content_header">
                      <div class="content_detail">
                        <%= link_to "予約詳細", schedule_path(cal.id), class: :nav__btn %>
                        <%= Size.find(cal.size_id).name%>
                        <% if cal.accuracy_id == 2 %>仮予約 
                        <%else cal.accuracy_id == 3%>決定 
                        <% end %>
                      </div>
                    </div>
                    <div class="content_body">
                      <% if cal.accuracy_id == 4 %> 
                        <div class="content_body_middle">
                          <div class="content_detail">夜間明け班
                          </div>
                        </div>
                      <%else%>
                        <div class="content_body_top">
                          <div class="content_detail">
                            時間:<%= StartTime.find(cal.start_time_id).name%><br>
                            場所:<%= Mie.find(cal.mie_id).name%>
                          </div>
                        </div>
                      <%end%>
                    </div>
                  <%end%>
                <%end%>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <!-- 夜間工事 -->
    <!-- 稼働している班数分繰り返す -->
    <% teams.each do |team| %>
      <div class='calendar'>
        <% week_days.each do |day| %>
          <div class='item'>
            <div class='item-date'>
              <%= day[:month] %>/<%= day[:date] %><%= day[:wday] %>
              <%= team.team_name %>班 <%= TimeZone.find(4).name %>
            </div>
            <div class='content'>
              <% schedules.each do |cal| %>
                <% if day[:scheduled_date] == cal.scheduled_date && cal.time_zone_id == 4 && cal.team_id == team.id%>
                <div class="content_header">
                  <div class="content_detail">
                    <%= link_to "予約詳細", schedule_path(cal.id), class: :nav__btn %>
                    <%= Size.find(cal.size_id).name%>
                    <% if cal.accuracy_id == 2 %>仮予約 
                    <%else cal.accuracy_id == 3%>決定 
                    <% end %>
                  </div>
                </div>
                <div class="content_body">
                    <div class="content_body_top">
                      <div class="content_detail">
                        時間:<%= StartTime.find(cal.start_time_id).name%><br>
                        場所:<%= Mie.find(cal.mie_id).name%><br>
                        夜明け班確保
                      </div>
                    </div>
                  </div>
                <%end%>
              <%end%>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
