<% breadcrumb :schedule_show, @schedule %>

<p id="notice"><%= notice %></p>
<h1>予約詳細</h1>

<table frame=”box” border=”1″>
  <thead>
    <tr>
      <th>id</th>
      <th>予約日</th>
      <th>班</th>
      <th>時間帯</th>
      <th>開始時間</th>
      <th>場所</th>
      <th>サイズ</th>
      <th>予約確度</th>
      <th>商社</th>
      <th>連絡元</th>
      <th>元請</th>
      <th>コメント</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @schedule.id %></td>
        <td><%= @schedule.scheduled_date %></td>
        <td><%= @schedule.team.team_name %></td>
        <td><%= @schedule.time_zone.name %></td>
        <td><%= @schedule.start_time.name %></td>
        <td><%= @schedule.mie.name %></td>
        <td><%= @schedule.size.name %></td>
        <td><%= @schedule.accuracy.name %></td>
        <td><%= @schedule.trading_company.tc_name %></td>
        <td><%= @schedule.first_contact.name %></td>
        <td><%= @schedule.prime_contractor %></td>
        <td><%= @schedule.content %></td>
        <% if user_signed_in? %>
        <td><%= link_to '変更', edit_schedule_path(@schedule.id),  class: :nav__btn  %></td>
        <td><%= link_to 'コピー', copy_schedule_path(@schedule.id),  class: :nav__btn  %></td>
        <td><%= link_to '削除', schedule_path(@schedule.id), method: :delete, data: { confirm: '本当に削除しますか?' },  class: :nav__btn  %></td>
        <% end %>
      </tr>
  </tbody>
</table>

<!-- カレンダー表示部 -->
<%= render partial: "calendar", locals: { schedules: @schedules, week_days: @week_days, teams: @teams,} %>